html {
  background:
    linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.2)),
    url('./img/drummer.jpg') bottom center;
  background-size: cover;
}

.keys {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  z-index: 999;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 198, 0, .8);
  color: white;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  text-align: center;
  margin: 10px;
  position: relative;
  padding: 10px;
  top: 50px;
  transition: all .07s ease;
}

.playing {
  transform: scale(1.1);
  box-shadow: 0 0 10px #ffc600;
  margin: 12px;
}

kbd {
  font-size: 24px;
  color: white;
  border-bottom: 1px solid white;
}

.sound {
  padding-top: 7px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
}