
.keys {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.key {
  /* border: 1px solid black; */
  background: #ffc600;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  text-align: center;
  position: relative;
  transition: all .07s ease;
}

.playing {
  transform: scale(1.1);
}

/* .key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
} */

kbd {
  font-size: 24px;
}

.sound {
  font-size: 12px;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
}